<h2>Lista de Clientes</h2>
<p>Datos de node.js</p>

<div class="card-container">
    <a>
        
    </a>
</div>

<h2>REGISTRAR CLIENTES</h2>
   <p>Ingresa los siguientes datos</p>
   <form [formGroup]="myFormCliente" (ngSubmit)= "ingresarClientes()">
     <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre" formControlName="nombreF">

     </div>
     <button type="submit" class="btn btn-secondary btn-lg btn-block">Registrar</button>
    </form>
